{% load static %}
<section class="features">
      <div class="feature">
        <img src="{% static 'img/feature1.png' %}" alt="Особенность 1">
        <h2>Классно</h2>
        <p>Подберите поездки, которые соответствуют вашему графику и местоположению, и отправляйтесь прямо к вашей целевой точке назначения.</p>
      </div>
      <div class="feature">
        <img src="{% static 'img/feature2.png' %}" alt="Особенность 2">
        <h2>Покарману</h2>
        <p>Сокращайте расходы, объединяяся с другими путешественниками, которые направляются в том же направлении, и делитесь расходами на поездку.</p>
      </div>
      <div class="feature">
        <img src="{% static 'img/feature3.png' %}" alt="Особенность 3">
        <h2>Сэйфти - фёрст</h2>
        <p>Выбирайте проверенных водителей и пассажиров для вашего путешествия. Расскажите друзьям и родственникам о своем плане поездки, чтобы они были в курсе вашего маршрута и ситуации.</p>
      </div>
      <div class="feature">
        <img src="{% static 'img/feature3.png' %}" alt="Особенность 4">
        <h2>Быстро</h2>
        <p>На нашем сайте быстро подберете поездку с проверенными водителями и пассажирами. Просто найдите подходящий маршрут и попутчиков для комфортного путешествия.</p>
      </div>
    </section>