{% extends 'base.html' %}

{% block title %}
О нас
{% endblock %}

{% block head%}
{% include 'include/yandex_api_form.html' %}
{% endblock%}

{% block header %}
{% include 'include/search_form.html' %}
{% endblock %}

{% block main %}
<div class="terms-of-use">
      <div class="terms-of-use-card">
        <div class="terms-of-use-content">
          <h1>Условия использования</h1>
          <p>Условия самые понятные</p>
          <p>Договорились - поехали</p>
          <p>Администрация ни за что не отвечает, только собирает процентик</p>
        </div>
      </div>
    </div>
{% endblock%}


